.app-heading {
  text-align: center;
}

.welcome-message {
  margin: 10px 0px;
}

.app-body {
  background-color: aquamarine;
}

.loading-spinner {
  margin: 10% 0;
  min-width: 50px;
  min-height: 50px;
}
.todo-input {
  display: inline-flex;
  /* display: flex; */
}

.todocontent {
  text-align: center;
  /* display: flex; */
  margin: 10px 4px;
  min-width: 30vw;
  /* border: ; */
}

.addbutton {
  margin: 10px 4px;
  min-width: 80px;
}

.todo-item {
  border: solid 1px;
  min-width: 30vw;
  margin: 10px 4px;
}

.updatebutton {
  margin: 10px 4px;
  min-width: 36px;
}
